/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
}

/* ================= NAVBAR ================= */
.navbar {
  width: 100%;
  padding: 18px 50px;
  background: #0d1a2d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: white;
}

.logo span {
  color: #2ecc71;
}

.menu a {
  margin: 0 14px;
  text-decoration: none;
  color: #dcdcdc;
  font-weight: 500;
  transition: 0.3s;
}

.menu a:hover,
.menu a.active {
  color: #2ecc71;
}

/* SEARCH */
.search {
  display: flex;
}

.srch {
  padding: 8px 10px;
  border-radius: 6px 0 0 6px;
  border: none;
  outline: none;
}

.btn {
  padding: 8px 16px;
  background: #2ecc71;
  border: none;
  color: white;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #239c57;
}

/* ================= HERO ORGANIZADO ================= */

.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 120px 8% 60px;

  background: #071e3d;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;

  color: white;
  overflow: hidden;
}

/* LOGO GIGANTE CENTRAL */
.hero::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 800px;
  height: 800px;

  background-image: url("imagens/Logo2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transform: translate(-50%, -50%);
  opacity: 0.25;
  z-index: 1;
}

/* TEXTO NA FRENTE */
.hero-content {
  max-width: 550px;
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 46px;
  margin-bottom: 20px;
  color: white;
  line-height: 1.2;
}

.hero-content span {
  color: #2ecc71;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* BOTÕES */
.hero-buttons a {
  padding: 12px 28px;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 15px;
  font-weight: 600;
  display: inline-block;
}

.hero-btn {
  background: #2ecc71;
  color: white;
}

.hero-btn:hover {
  background: #239c57;
}

.hero-outline-btn {
  border: 2px solid #2ecc71;
  color: #2ecc71;
}

.hero-outline-btn:hover {
  background: #2ecc71;
  color: white;
}

/* LOGIN NA DIREITA */
.login-box {
  margin-left: auto;
  background: white;
  padding: 32px;
  border-radius: 18px;
  width: 320px;

  color: #333;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}

.login-box h3 {
  margin-bottom: 15px;
  color: #071e3d;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #2ecc71;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background: #239c57;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .login-box {
    margin-left: 0;
  }

  .hero::before {
    width: 480px;
    height: 480px;
  }
}
/* TEXTO PRINCIPAL */
.hero-content {
  max-width: 600px;
  animation: fadeIn 1.2s ease;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content span {
  color: #2ecc71;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-content span {
  color: #2ecc71;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-buttons a {
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 15px;
  font-weight: 500;
  display: inline-block;
}

.hero-btn {
  background: #2ecc71;
  color: white;
}

.hero-btn:hover {
  background: #239c57;
}

.hero-outline-btn {
  border: 2px solid #2ecc71;
  color: #2ecc71;
}

/* ================= LOGIN BOX ================= */
.login-box {
  background: rgb(30, 238, 11);
  padding: 30px;
  border-radius: 16px;
  width: 320px;
  color: #333;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1.5s ease;
}

.login-box h3 {
  margin-bottom: 20px;
  color: #2ecc71;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #2ecc71;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background: #239c57;
}

/* ================= SERVIÇOS ================= */
.services {
  padding: 80px 8%;
  background: white;
  text-align: center;
}

.services h2 {
  margin-bottom: 40px;
  color: #0a3d62;
}

.services-grid {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

/* CARD */
.service-card {
  background: #f5f7fa;
  padding: 25px;
  border-radius: 20px;
  width: 100%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-6px);
}

.service-card h3 {
  margin-bottom: 10px;
  color: #2ecc71;
}

/* ================= SOBRE ================= */
.about {
  padding: 80px 10%;
  background: #0a3d62;
  color: white;
}

.about h2 {
  color: #2ecc71;
  margin-bottom: 20px;
}

.about li {
  margin: 10px 0;
}

/* ================= FOOTER ================= */
.footer {
  text-align: center;
  padding: 25px;
  background: #021826;
  color: white;
}

/* ANIMAÇÃO */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ------------------ PRODUTOS ------------------ */
.content {
  padding: 130px 40px 40px;
}

.hero-content h1 {
  color: white; /* força a frase principal em branco */
}

.grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  border-left: 6px solid #40a348;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.card h3 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #0d1a2d;
}

.card p {
  color: #444;
}

/* ------------------ RESPONSIVO ------------------ */
@media (max-width: 768px) {
  .navbar {
    padding: 15px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .menu a {
    margin: 0 6px;
  }

  .hero h1 {
    font-size: 34px;
  }

  .hero p {
    font-size: 16px;
  }
}

/* ------------------ Final Produtos Ok ate aqui ------------------ */

/* ------------ PÁGINA DE PEDIDOS ------------ */

.pedido-box {
  margin-top: 30px;
  background: white;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.18);
  max-width: 700px;
}

.pedido-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pedido-form label {
  font-size: 18px;
  font-weight: bold;
  color: #0d1a2d;
}

.pedido-form input,
.pedido-form select,
.pedido-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #bbb;
  border-radius: 8px;
  font-size: 16px;
}

.pedido-form textarea {
  height: 100px;
  resize: none;
}

.enviar-pedido {
  padding: 14px;
  background: #40a348;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
}

.enviar-pedido:hover {
  background: #2c7c33;
}

/* ------------ FIM DA PAGINA DE PEDIDOS ------------ */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f5f9;
}

/* NAVBAR */
.navbar {
  background: #071e3d;
  padding: 15px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  color: white;
  font-weight: bold;
}

.logo span {
  color: #2ecc71;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

/* CONTATO */
.contact {
  padding: 80px 8%;
  min-height: 100vh;
  text-align: center;
}

.contact h1 {
  font-size: 36px;
  color: #071e3d;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

/* ESQUERDA */
.contact-info {
  background: #071e3d;
  color: white;
  padding: 35px;
  width: 380px;
  border-radius: 18px;
  text-align: left;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* #2ecc71 */
.contact-info h2 {
  color: var(--color-primary-500);
  margin-bottom: 20px;
}

.contact-info p {
  margin: 14px 0;
  font-size: 15px;
}

.social a {
  display: inline-block;
  margin: 15px 15px 0 0;
  color: #2ecc71;
  text-decoration: none;
  font-weight: bold;
}

/* DIREITA */
.contact-form {
  background: white;
  padding: 35px;
  width: 420px;
  border-radius: 18px;
  text-align: left;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
  color: #071e3d;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.contact-form button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #2ecc71;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #239c57;
}

/* MAPA */
.map {
  width: 100%;
  margin-top: 60px;
}

.map iframe {
  width: 100%;
  height: 350px;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

/* FOOTER */
footer {
  background: #071e3d;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 50px;
}
